@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.azion.com/roboto-mono/roboto-mono-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.azion.com/roboto-mono/roboto-mono-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.azion.com/roboto-mono/roboto-mono-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.azion.com/roboto-mono/roboto-mono-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('https://fonts.azion.com/roboto-mono/roboto-mono-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
