@layer tailwind-base, primevue;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

/* Theme container styles */
.azion {
  font-family: 'Sora', ui-sans-serif, system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.azion.azion-dark {
  color-scheme: dark;
}

.azion.azion-light {
  color-scheme: light;
}

/* https://github.com/primefaces/primevue/issues/882#issuecomment-1780802552 */
body.p-overflow-hidden {
  --scrollbar-width: 0px !important;
}

/* https://aziontech.atlassian.net/browse/UXE-1798 */
/* child scroll behaviour is affecting the parent scroll behaviour */
* {
  overscroll-behavior: auto !important;
}

.grecaptcha-badge {
  bottom: 75px !important;
  z-index: 11;
}

.font-sora {
  font-family: 'Sora', sans-serif;
}

.font-proto-mono {
  font-family: 'Proto Mono', sans-serif;
}
